@import './config/settings';
@import './config/base-elements';

@import './layout/header';
@import './layout/navbar';
@import './layout/info-article';
@import './layout/advantages';

@import './layout/footer';