* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $font-color;
    font-size: 13px;
    transition: 0.5s;
}

body {
    background-color: $background-color;
}

h1,
h2,
h3 {
    font-family: $title-font;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: inherit;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: inherit;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    * {
        font-size: 15px;
    }
}
@media only screen and (min-width: 700px) and (orientation: landscape) {
    * {
        font-size: 15px;
    }
}
