* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $font-color;
    transition: .5s;
}

body {
    background-color: $darkergreen-color ;
}

h1, h2, h3 {
    font-family: $title-font;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: inherit;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: inherit;
    }
}


