$title-font: 'Emilys Candy', cursive;
$main-font: 'Lato', sans-serif;




//colors:
$font-color: #2f4858;
$side-color: #fffbf1;

$yellow-color: #f2ce2e;
$lightgreen-color: #90c14a;
$green-color: #34a96d;
$darkgreen-color: #008a80;
$darkergreen-color: #006978;

$red-color: #bf5747;