$title-font: 'Emilys Candy', cursive;
$main-font: 'Lato', sans-serif;


//colors:
$font-color: #2f4858;
$side-color: #edecea;

$grey-color: rgb(126, 158, 156);
$lightgreen-color: #90c14a;
$green-color: #34a96d;
$darkgreen-color: #008a80;
$darkergreen-color: #006978;

$red-color: rgb(191, 87, 71);
$alt-yellow: rgb(126, 158, 156);