$title-font: 'Emilys Candy', cursive;
$title-font: 'Bodoni Moda', serif;
$main-font: 'Lato', sans-serif;


//colors:
$font-color: #26252c;
$side-color: #f5f5f5;

$grey-color: rgb(126, 158, 156);
$lightgreen-color: #90c14a;
$darkgreen-color: #670069;

$green-color: #a61a5d;
$half-trans: rgba(166, 26, 93, .5);
$darkergreen-color: #006978;

$red-color: #00c895;
$alt-yellow: rgb(126, 158, 156);