.about {
    position: relative;
    height: 100vh;
    @include centerflex;
    justify-content: flex-start;
    width: 100vw;
    padding: 2vh 5vw ;
    background: linear-gradient($darker-main-color 0%, $main-color 75%, $background-color 95%);
}

.about__buttons-container {
    height: 80%;
    width: inherit;
    padding: inherit;
    overflow: auto;
    border-bottom: 1.5px dashed $background-color;
}
.about__btn {
    text-transform: capitalize;
    padding: 1vh 0;
    margin: 1vh 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;    
    border-radius: 15px;
    width: 90vw;
}
.collapse {
    background-color: $background-color;
}
.about__desc {
    color: white;
    padding-left: 2vw;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s linear;
}
.about-active, .collapse:hover {
    @include active-about;
}

.about__link-back {
    position: fixed;
    bottom: 3vh;
}
.cta--back {
    background-color: $contrast-color;
    color: $background-color;
    margin: 0 auto;
    &:hover {
        background-color: $contrast-color;
    }
}
.about__gh-link {
    font-weight: bold;
    font-size: 130%;
    color: $contrast-color;
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    .about {
        padding: 5vh 15vw 10vh;
    }
    .about__buttons-container {
        height: 85%;
    }
    .about__btn {
        width: 90%;
    }
    .about__link-back {
        width: 70vw;
        bottom: 10vh;
    }
    .about__desc {
        width: 70%;
        font-size: 17px;
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .about {
        // padding: 5vh 40vw 5vh 5vw;
        padding: 5vh 10vw 5vh 5vw;
    }
    .about__buttons-container {
        padding-left: 0;
        width: 70vw;
        border-bottom: 2px dashed $background-color;
    }
    .about__btn {
        width: 90%;
        border-radius: 20px;
    }
    .about__link-back {
        width: 40vw;
        max-width: 550px;
        bottom: 10vh;
        right: 10vw;
    }

    .about__desc {
        width: 120%;
        max-width: 700px;
        font-size: 17px;
        margin-bottom: 1vh;
    }
    .about__gh-link:hover {
        text-shadow: 0 0 5px $background-color;
    }
}

@media only screen and (min-width: 1300px) and (orientation: landscape) {
    .about__buttons-container {
        width: 60vw;
    }
}