.sec-advantages {
    margin-top: $default-margin*3;
    height: auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position-x: 65%;

    .advantages-title {
        padding: $default-margin;
        font-size: 30px;
        color: whitesmoke;
        text-shadow: 1px 1px $font-color, -1px -1px $font-color;
        text-align: center;
    }
    .list-of-advantages {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: $default-margin*2;

        .single-advantage {
            margin: $default-margin*2;
            @include centerflex;
            justify-content: center;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            color: $font-color;
            background-color: whitesmoke;
            transition: .7s;
            &:hover {
                border-radius: 25%;
            }
            .advantage-link {
                .advantage-container {
                    @include centerflex;
                    justify-content: center;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    .advantage-name {
                        overflow-wrap: normal;
                        text-align: center;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 730px ) {
    .sec-advantages {
        .list-of-advantages {
            width: 80vw;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1100px ) {
    .sec-advantages {
        background-position-y: bottom;
        .list-of-advantages {
            width: 70vw;
            margin: 0 auto;
            .single-advantage {
                width: 130px;
                height: 130px;
                margin: $default-margin*3;
                .advantage-link {
                    .advantage-container {
                        width: 100px;
                        height: 100px;
                        .advantage-name {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}