.head {
    width: 100vw;
    height: 15vh;
    padding-right: 3vw;
    @include centerflex;
    justify-content: space-between;
    background-color: $side-color;
    .logo {
        width: 30vw;
        height: 30vw;
        max-height: 150px;
        max-width: 150px;
    }
    .title {
        font-size: 30px;
    }
}




@media only screen and (min-width: 730px ) {
    .head {
        padding-right: 5vw;
        .logo {
            max-height: 200px;
            max-width: 200px;
        }
        .title {
            font-size: 33px;
        }
    }
}

@media only screen and (min-width: 1100px ) {
    .head {
        .logo {
            width: 20vh;
            height: 20vh;
        }
        .title {
            font-size: 35px;
        }
    }
}