.head {
    height: 15vh;
    @include centerflex;

    .logo {
        width: 30vw;
        height: 30vw;
        max-height: 150px;
        max-width: 150px;
        color: $font-color;
        position: fixed;
        left: 0;
        z-index: 6;   
    }
    .title {
        font-size: 30px;
        color: black;
        position: absolute;
        right: 3vw;
    }
}




@media only screen and (min-width: 730px ) {
    .head {
        padding-right: 5vw;
        .logo {
            max-height: 200px;
            max-width: 200px;
        }
        .title {
            font-size: 33px;
        }
    }
}

@media only screen and (min-width: 1100px ) {
    .head {
        .logo {
            width: 20vh;
            height: 20vh;
        }
        .title {
            font-size: 35px;
        }
    }
}