.page-body {
    .search-form {
        position: absolute;
        width: 50vw;
        height: 5vh;
        right: 0;
        margin: 2vh 2vw;
        z-index: 1;
        input {
            width: 100%;
            height: 100%;
            border: 2px solid $green-color;
            border-radius: 5px;
            background-color: $side-color;
            padding-left: 1vw;
        }
    }
    
    .suggestions {
        list-style: none;
        max-height: 60vh;
        overflow: auto;
        background-color: $green-color;
        padding: 0 5px;
        box-shadow: 3px 3px 10px $grey-color, -3px -3px 1-px $grey-color;
        li {
            button {
                width: 100%;
                height: 100%;
                margin-top: .5vh;
                padding: 2px 4px;
                font-size: 13px;
                box-shadow: 1px 1px 2px $darkgreen-color, -1px -1px 2px $darkgreen-color;
                border: 1px solid $darkgreen-color;
                border-radius: 5px;
                color: $side-color;
                transition: .2s;
                &:last-of-type {
                    margin-bottom: .5vh;
                }
                &:hover {
                    background-color: $darkgreen-color;
                }
            }
        }
    }

}


@media only screen and (min-width: 700px) and (orientation: portrait) {
    .page-body {
        .search-form input {
            font-size: 15px;
            border-radius: 10px;
        }
        .suggestions li button{
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .page-body {
        .search-form {
            width: 35vw;
            max-width: 350px;
            input {
            font-size: 15px;
            }
        }
        
        .suggestions li button{
            font-size: 15px;
            padding: 4px;
        }
    }
}

