.page-body {
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green-color;
    height: 9vh;
    overflow: hidden;
}
h1 {
    padding: 1vh 2vh;
    width: 55vw;
    height: 9vh;
    font-size: 5.5vh;
    background-color: $red-color;
    position: relative;
    color: $side-color;
    span {
        font-family: inherit;
        opacity: 0;
        transition: .2s ease;
    }
    &::after {
        content: '';
        position: absolute;
        width: 0vw;
        top: 0;
        left: 55vw;
        border-bottom: 9vh solid $red-color;
        border-right: 10vw solid $green-color;
        transition: .6s ease-in-out;
    }
}
h1:hover{
    span {
        opacity: 1;
    }
    &::after {
        right: -50vw;
        width: 55vw;
    }
}

nav {
    padding: 1vh 2vh;
    svg {
        width: 5vh;
        height: 5vh;
        position: relative;
        z-index: 5;
        &:hover {
            animation: roll .7s linear infinite;
            #spiral {
                fill: $side-color;
            }
        }
    }
    ul {
        list-style: none;
        display: none;
    }
}
}


@keyframes roll {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    .page-body {

    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .page-body {
        
    }
}