.page-body {
 
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green-color;
    height: 9vh;
    overflow: hidden;
    z-index: 3;
}
.page-name {
    padding: 1vh 2vh;
    width: 35vw;
    height: 9vh;
    background-color: $darkgreen-color;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        width: 0vw;
        top: 0;
        left: 35vw;
        border-bottom: 9.1vh solid $darkgreen-color;
        border-right: 10vw solid $green-color;
        transition: .6s ease-in-out;
    }
    h1 {
        font-size: 6vh;
        color: $side-color;
        position: relative;
        z-index: 3;
        top: -8px;
    }
}
.page-name:hover{
    &::after {
        right: -50vw;
        width: 70vw;
    }
}

nav {
    padding: 2vh;
    position: absolute;
    right: 0;
    top: 0;
    svg {
        width: 5vh;
        height: 5vh;
        position: relative;
        z-index: 5;
        &:hover {
            animation: roll .7s linear infinite;
            
        }
    }
    .nav-list {
        list-style: none;
        position: absolute;
        width: 40vw;
        right: 2px;
        top: 9vh;
        
        border-radius: 0 0 10px 10px;
        background-color: $side-color;
        text-align: center;
        z-index: 2;
        transition: .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .rolled-up {
        transform: translateY(-100%);
    }
    
    .rolled-down {
        transform: translateY(0%);
        box-shadow: 5px 5px 15px rgb(128, 128, 128), 3px 3px 20px rgb(80, 80, 80);
        li {
            padding: 1vh 0;
            background-color: $green-color;
            color: $side-color;
            border-top: 2px solid $font-color;
            text-transform: capitalize;
            &:last-of-type {
                border-radius: 0 0 10px 10px;
            }
            &:hover {
                cursor: pointer;
                background-color: $darkgreen-color;
            }
        }
    }
}
}


@keyframes roll {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


@media only screen and (min-width: 700px) and (orientation: portrait) {
    .page-body nav .nav-list {
        width: 25vw;
    }

}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .page-body {
        &::after {
            content: '';
            position: absolute;
        }
        .page-name h1 {
            letter-spacing: 5px;
        }
        nav .nav-list {
        width: 20vw;
    }
}
}