.page__body {
 
.page__header {
    position: relative;
    background-color: $darker-main-color;
    height: 9vh;
    overflow: hidden;
    z-index: 3;
}
.page__title {
    padding: 1vh 2vh;
    width: 35vw;
    height: 9vh;
    background-color: $contrast-color;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        width: 0vw;
        top: -0.05vh;
        left: 35vw;
        border-bottom: 9.1vh solid $contrast-color;
        border-right: 10vw solid $darker-main-color;
        transition: .6s ease-in-out;
    }
    h1 {
        font-size: 6vh;
        color: $background-color;
        position: relative;
        z-index: 3;
        top: -8px;
    }
}
.page__title:hover{
    &::after {
        right: -50vw;
        width: 70vw;
    }
}
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .page__body {
        &::after {
            content: '';
            position: absolute;
        }
        .page__title h1 {
            letter-spacing: 5px;
        }
    }
}