.paginated-items {
    position: relative;
    margin: 0 auto;
    height: 55vh;
    width: 70vw;
    top: 15vh;
    overflow: auto;
    border: 1px solid $red-color;
}

.list-container {
    border:  2px solid cornflowerblue;
    li {
        margin: 5px 0px;
        background-color: cornsilk;
        button {
            width: 100%;
            height: 100%;
            padding: 5px 0;
            margin: 0;
            transition: .2s;
            font-weight: bold;
            &:hover {
                background-color: rgb(128, 0, 0);
                color: whitesmoke;
            }
        }
    }
}
.page-numbers {
    position: absolute;
    bottom: 2px;
    border: 2px solid cornflowerblue;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    button {
        padding: 5px 8px;
        margin: 5px;
        &:hover {
            background-color: yellowgreen;
        }
    }
}

.active {
    background-color: yellowgreen;
}

@media only screen and (min-width: 700px) and (orientation: portrait) {

}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    
}