@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');

h2 {
    font-family: 'Bodoni Moda', serif;
}

.page-body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: linear-gradient($darkgreen-color 0%, $darkgreen-color 10%,
                $green-color 75%, $side-color 95%);
}

