.page__body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: linear-gradient($darker-main-color 0%, $darker-main-color 10%,
                $main-color 75%, $background-color 95%);
}

