.paginated-items {
    position: relative;
    height: auto;
    width: 100vw;
    top: 10vh;
    @include centerflex;
    align-items: stretch;
    justify-content: space-around;
}

.list-container {
    border-top:  2px solid $darkgreen-color;
    border-bottom:  2px solid $darkgreen-color;
    list-style: none;
    padding: 1vh 25vw 1vh 10vw;
    background: linear-gradient(15deg, #aba7cc, $side-color, #00b5f7);
    // background-color: $side-color;

    li {
        margin: 1vh 0;
        button {
           @include list-element;
           background-color: $side-color;
        //    background: linear-gradient(15deg, #aba7cc, $side-color, #00b5f7);
            padding: 10px 0 10px 15vw;
            box-shadow: 3px 3px 2px $half-trans, -1px -1px 5px rgba(166, 26, 93, .3);
            text-align: start;
            font-size: 15px;
            letter-spacing: .7px;
            font-weight: bold;
            transition: .2s;
            &:hover {
                // @include highlight;
                background-color: $green-color;
                color: $side-color;
                box-shadow: 3px 3px 7px $font-color;
            }

        }
    }
}

.page-numbers {
    margin: 2vh auto 1vh;
    width: 80vw;
    height: auto;
    padding: 1vh 15vw;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: .1s;

    background-color: $green-color;
    border-radius: 10px;
    // box-shadow: 5px 0 10px $grey-color, -5px 0 10px $grey-color;
    button {
        padding: 3px 8px;
        margin: 5px;
        font-weight: bold;
        border-radius: 5px;
        color: $side-color;
        background-color: $darkgreen-color;
        box-shadow: 2px 2px 6px $darkgreen-color;
        &:hover {
            background-color: rgba(103, 0, 105, .6);
        }
    }
    .active {
        background-color: $side-color;
        color: $font-color;
        &:hover {
            background-color: rgba(245, 245, 245, 0.5);
        }
    }
}



@media only screen and (min-width: 700px) and (orientation: portrait) {
    .paginated-items {
        height: auto;
        top: 15vh;
    }
    .list-container li button {
        font-size: 17px;
        padding: 13px 0 13px 10vw;
        box-shadow: 5px 5px 3px $half-trans,
                    -1px -1px 5px rgba(166, 26, 93, .3);
    }
    .page-numbers {
        width: 60vw;
        margin: 4vh auto 1vh;
        padding: 2vh 15vw;

        button {
            margin: .7vh;
            font-size: 17px;
            padding: 8px 12px;
            box-shadow: 4px 4px 10px $darkgreen-color;
        }
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .paginated-items {
        height: 80vh;
    }
    .list-container {
        width: 60vw;
        margin: 0 30vw 0 10vw;
        padding: 5vh 10vw 0;
        position: relative;
        border-top: none;
        border-bottom: none;

        background: $side-color;
        &::after {
            // content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            border-right: 40vw solid $darkgreen-color;
            border-top: 25vh solid transparent;
            z-index: -1
        }
        li {
            button {
                padding-left: 10vw;
                font-size: 2vh;
            }
        }
    }
    .page-numbers {
        width: 45vw;
        padding: 2vh 5vw;
        button {
            margin: .7vh 1vw;
            font-size: 2.5vh;
            padding: 1vh 1.8vh;
            box-shadow: 4px 4px 10px $darkgreen-color;
        }
    }
}

@media only screen and (min-width: 1250px) and (orientation: landscape) {
    .page-numbers {
        width: 40vw;
    }
}