.paginated-items {
    position: relative;
    height: auto;
    width: 100vw;
    top: 10vh;
    @include centerflex;
    align-items: stretch;
    justify-content: space-around;
}

.list-container {
    list-style: none;
    padding: 1vh 25vw 1vh 10vw;
    li {
        margin: 1vh 0;
        button {
           @include list-element;
           background-color: $background-color;
           border-radius: 15px;
            padding: 10px 0 10px 15vw;
            text-align: start;
            font-size: 15px;
            letter-spacing: .7px;
            font-weight: bold;
            transition: .2s;
            &:hover {
                background-color: $main-color;
                color: $background-color;
                box-shadow: 3px 3px 7px $font-color;
            }
        }
    }
}

.page-numbers {
    margin: 2vh auto 1vh;
    width: 70vw;
    height: auto;
    padding: 1vh 10vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: .1s;

    background-color: $contrast-color;
    border-radius: 10px;
    box-shadow: 3px 3px 10px $font-color;
    button {
        padding: 3px 8px;
        margin: 5px;
        font-weight: bold;
        border-radius: 5px;
        color: $background-color;
        background-color: $contrast-color;
        box-shadow: 2px 2px 6px $font-color;
        &:hover {
            background-color: rgba(103, 0, 105, .6);
        }
    }
    .active {
        background-color: $background-color;
        color: $font-color;
        &:hover {
            background-color: rgba(245, 245, 245, 0.5);
        }
    }
}


@media only screen and (min-width: 700px) and (orientation: portrait) {
    .paginated-items {
        height: auto;
        top: 15vh;
    }
    .list-container li button {
        font-size: 17px;
        padding: 13px 0 13px 10vw;
    }
    .page-numbers {
        width: 50vw;
        margin: 4vh auto 1vh;
        padding: 2vh 10vw;

        button {
            margin: .7vh;
            font-size: 17px;
            padding: 8px 12px;
            box-shadow: 4px 4px 10px $font-color;
        }
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .paginated-items {
        height: 80vh;
    }
    .list-container {
        width: 60vw;
        margin: 0 30vw 0 10vw;
        padding: 5vh 10vw 0;
        position: relative;
        border-top: none;
        border-bottom: none;
        li {
            button {
                position: relative;
                padding-left: 10vw;
                font-size: 2vh;
                overflow: hidden;
                &::after {
                    content: '';
                    position: absolute;
                    width: 20%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $darker-main-color;
                    transform: skew(45deg) translateX(-10vw);
                }
            }
            button:hover {
                &::after {
                    animation: move-skew .3s 2 linear;
                }
            }
        }
    }
    .page-numbers {
        width: 45vw;
        padding: 2vh 5vw;
        button {
            margin: .7vh 1vw;
            font-size: 2.5vh;
            padding: 1vh 1.8vh;
            box-shadow: 4px 4px 10px $font-color;
        }
    }
}

@media only screen and (min-width: 1250px) and (orientation: landscape) {
    .paginated-items {
        max-width: 1200px;
        margin: 0 auto;
    }
    .page-numbers {
        width: 40vw;
        border-radius: 20px;
        padding: 1.5vh 3vw;
        button {
            padding: .5vh 1.2vh;
        }
    }
}

@media only screen and (min-height: 800px) and (orientation: landscape) {
    .page-numbers {
        width: 35vw;
        border-radius: 20px;
        button {
        font-size: 2vh;
        padding: .7vh 1.4vh;
        }
    }
}

@keyframes move-skew {
    from { transform: skew(45deg) translateX(-10vw);}
    to {transform: skew(45deg) translateX(45vw);}
}