.popup-div {
    position: absolute;
    width: 90vw;
    min-height: 75vh;
    top: 0;
    margin: 15vh 5vw;
    z-index: 6;
    border-radius: 10px;
    // box-shadow: 5px 5px 15px $grey-color, 
    //             3px 3px 20px rgb(80, 80, 80),
    //             20vw 10vh 10px rgba(211, 211, 211, 1),
    //             -20vw -20vh 10px rgba(211, 211, 211, 1),
    //             20vw -20vh 10px rgba(211, 211, 211, 1),
    //             -20vw 10vh 10px rgba(211, 211, 211, 1);
    background-color: $darkergreen-color;
    background: radial-gradient(circle, $green-color 0%, $darkgreen-color 80%);
    @include centerflex;

    transform: scale(0);
    animation: show-pop .2s linear forwards;
    h2, li, p {
        color: $side-color;
    }
    h2 {
        font-size: 2.5rem;
        padding: 3vh 2vw;
    }
}

.alg-list {
    list-style: none;
    width: 90%;
    li {
        padding: 1vw;
        padding-left: 2.5vw;
        margin: 1.5vh auto;
        width: 90%;

        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        line-height: 1.6rem;

        border-radius: 10px;
        box-shadow: 1px 1px 3px $side-color;
        
    }
}

.btn-link {
    position: relative;
    width: auto;
    max-width: 50%;
    align-self: flex-end;
    color: $side-color;
    padding: 2px 4px;
    font-weight: bold;
    border-top: 1px solid $red-color;
    margin-top: 1.5vh;
    &::before {
        content: '>';
        position: absolute;
        font-size: 30px;
        font-style:initial;
        left: -5vw;
        top: -10px;
        color: $red-color;
    }
}
.item-link {
    right: 10vw;
    font-size: 120%;
    margin-top: 4vh;
}
.close-div {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 2vh;
    right: 2vw;
    background-color: transparent;
    &:hover {
        transform: scale(1.25);
        background-color: transparent;
    }
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 4vw;
        width: 5px;
        height: 33px;
        background-color: $red-color;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    .alg-list {
        width: 80%;
    }
    .btn-link::before {
        left: -3vw;
        top: -8px;
    }
    .item-link {
        right: 15vw;
        margin-top: 6vh;
    }
    .close-div::before, .close-div::after {
        right: 2vw;
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .popup-div {
        width: 70vw;
        margin: 15vh 15vw;
    }
    .alg-list {
        width: 60%;
    }
    .btn-link::before {
        left: -1.5vw;
    }
    .item-link {
        right: 15vw;
        margin-top: 6vh;
    }
    .close-div::before, .close-div::after {
        right: 1vw;
    }
    .close-div:hover {
        animation: rotatinho .5s ease-in;
        transform-origin: center;
    }
}


@keyframes rotatinho {
    from {
        transform: rotate(0deg);
        
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes show-pop {
    from {transform: scale(0) rotate(180deg);}
    to {
        transform: scale(1) rotate(0deg);
        box-shadow: 5px 5px 15px $grey-color, 
                3px 3px 20px rgb(80, 80, 80),
                20vw 10vh 10px rgba(211, 211, 211, 1),
                -20vw -20vh 10px rgba(211, 211, 211, 1),
                20vw -20vh 10px rgba(211, 211, 211, 1),
                -20vw 10vh 10px rgba(211, 211, 211, 1);;
    }
}