.first-inner {
    flex-direction: column;
    background-color: $red-color;
    h1 {
        position: absolute;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        span {
            position: absolute;
            font-family: inherit;
            font-size: inherit;
            width: 100vw;
        }
        span:first-of-type {
            top: 30vh;
        }
        span:last-of-type {
            top: 60vh;
        }
    }
}
.half-first {
    width: 100%;
    background-color: $darkgreen-color;
}
.half-second {
    width: 100%;
    background-color: $green-color;
}


@media only screen and (min-width: 700px) and (orientation: portrait) {
    .first-inner {
        h1 {
            font-size: 3.5em;
        }
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .first-inner {
        flex-direction: row;
        h1 {
            font-size: 3.5em;
        }
    }
    .half-first, .half-second {
        width: 50%;
    }
}