.intro__inner--first {
    flex-direction: column;
    background-color: $contrast-color;
    h1 {
        position: absolute;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        z-index: 3;
        span {
            position: absolute;
            font-family: inherit;
            font-size: inherit;
            width: 100vw;
            color: $background-color;
        }
        span:first-of-type {
            top: 30vh;
        }
        span:last-of-type {
            top: 60vh;
        }
    }
}
.half-first {
    opacity: 0;
    background-color: $darker-main-color;
}
.half-second {
    opacity: 0;
    background-color: $main-color;
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    .intro__inner--first {
        h1 {
            font-size: 3.5em;
        }
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .intro__inner--first {
        flex-direction: row;
        h1 {
            font-size: 3.5em;
        }
    }
    .half-first,
    .half-second {
        width: 50%;
    }
}
