.second-inner {
    background-color: $side-color;
    // opacity: 0;
    left: -100vw;
    z-index: 4;
    &::before {
        content: '';
        position: absolute;
        background-color: $green-color;
        width: 250vw;
        height: 33vh;
        left: 0vw;
        top: 0vh;
        transform-origin: left top;
        transform: rotate(65deg);
    }
    &::after {
        content: '';
        position: absolute;
        background-color: $darkgreen-color;
        width: 150vw;
        height: 30vh;
        bottom: -10vh;
        right: 0vw;
        transform: rotate(35deg);
    }
}
article {
    width: 75vw;
    margin: 10vh auto auto ;
    font-size: 5vw;
    padding: .5em;
    border-radius: 15px;
    z-index: 3;
    span {
        font-weight: bold;
        font-size: inherit;
    }
}    

.link-box {
    position: absolute;
    width: 50vw;
    height: 10vw;
    bottom: 30vw;
    right: 10vw;
    .cta-link {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        border: 2px solid $darkgreen-color;
        background-color: $side-color;
        position: relative;
        overflow: hidden;
        z-index: 3;
        &::after {
            content: '';
            position: absolute;
            width: 3vw;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $darkgreen-color;
            transform: translateX(-7vw) ;
        }
    }
    .cta-link:hover {
        &::after {
            animation: hover-btn .3s ease-in 2;
        }
    }
    
}


@keyframes hover-btn {
    0% {
        transform: translateX(-7vw) ;
    }
    50% { 
        width: 54vw;
    }
    100% {
        transform: translateX(54vw) ;
    }
}

@media only screen and (min-width: 700px) and (orientation: portrait) {    
    article {
        width: 75vw;
        margin: 10vh auto auto;
        font-size: 4.5vw;
        span {
            font-weight: bold;
        }
    }    
    .link-box {
        bottom: 15vw;
        .cta-link {
            font-size: 2em;
        }
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .second-inner {
        &::before {
            height: 45vh;
            transform-origin: left top;
            transform: rotate(55deg);
        }
        &::after {
            bottom: -20vh;
            right: 0vw;
            transform: rotate(20deg);
        }       
    }
    article {
        width: 65vw;
        margin: auto auto 30vh 10vw;
        font-size: 4.5vh;
        span {
            font-weight: bold;
            font-size: inherit;
        }
    }
    .link-box {
        width: 50vh;
        height: 10vh;
        bottom: 18vh;
        right: 10vh;
        .cta-link {
            font-size: 2em;
        }
    }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
    .link-box {
        .cta-link {
            border: 3px solid;
        }
    }
}